*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: block;
  justify-content: center;
}



header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 100%);
  
  
}

.square {
  background-color:rgba(0, 0, 0, 0.589);
  border-radius: 0px;
  border-width: 1px;
  box-shadow: rgb(13, 255, 0) 6px 6px 8px 6px;
  color: (0, 0, 0, 0.445);
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.square-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: (0, 0, 0, 0.445);
  height: 2px;
}

.square-body {
  min-height: 130px;
}




.square-footer {
  text-align: center;
}

.square-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #00000085;
  height: 5px;
}

.square-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #2ae8008b;
  border-radius: 25px;
  box-shadow: rgba(255, 255, 255, 0.489) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

button[disabled] {
  cursor: default;
  background: #ffffff;
}


h2 {
text-align: center;
color: white;

}
#passcode {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 9px solid #000000;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1.2rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #passcode {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 1.0rem;
  }
}
